body{
    margin: 0;
    padding: 0;
    background-color: #003311;
}
#backgroundBlur{
    filter: blur(5px);
    -webkit-filter: blur(5px);
}
#backgroundFilter{
    background: black;
}
#opacityFilter{
    opacity: 0.18;
}
#headerContainer{
    color: white;
    position: absolute;
    top: 30%;
    left: 38%;
    text-align: center;
}
#headerText{
    line-height: 8rem;
    font-size: 5rem;
}
#subHeaderText{
    line-height: 2.3rem;
    font-size: 1.5rem;
}
#button1{
    margin-top: 8%;
    margin-right: 5%;
}